* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #fefecc;
  }
  .backgraund{
    background-color: #8c8b8e;
  }
  label{
      font-size: 1.3rem;
  }
  h2 {
    font-weight: 600;
  }
  
  .from-box {
    display: flex;
    justify-content: space-between;
    margin: 10px;
  }
  input {
    width: 100%;
    border: solid 2px #eee;
    padding: 15px 15px;
    border-radius: 10px;
    font-size: 1rem;
    color: black;
    outline: none;
    cursor: pointer;
  }
  input:hover {
    background-color: #ffe6bc;
  }
  select {
    width: 100%;
    border: solid 1px #eee;
    padding: 15px 15px;
    border-radius: 10px;
    font-size: 1rem;
    outline: none;
    background-color: #fff;
  }
  select:hover {
    background-color: #ffe6bc;
  }
  
  .submit_button {
    width: 100%;
    padding: .9rem;
    background-color: dodgerblue;
    color: #fff;
    border: solid 1px dodgerblue;
    cursor: pointer;
    border-radius: 5px;
    
  }
  .submit_button:hover {
    background-color: dodgerblue;
    color: #fff;
    cursor: pointer;
  }
  h2 {

    font-weight: 600;
  }
  
  #info {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  td{
      text-align: center;
  }
  #info td, #info th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #info tr:nth-child(even){background-color: #f2f2f2;}
  
  #info tr:hover {background-color: #ddd;}
  
  #info th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #04AA6D;
    color: white;
  }
  
  .action_button:hover {
    background-color: dodgerblue;
    color: #fff;
    cursor: pointer;
  }
  .leftbox{
    margin-left: 100px;
  }
  #output{
    max-height: 333px;
    overflow: scroll;
  }
  #output::-webkit-scrollbar {
    display: none;
  }
  table th {
    position: -webkit-sticky; 
    position: sticky;
    top: 0;
    z-index: 1; 
    background: #fff; 
  }

  .action_button{
    cursor: pointer;
    width: 4rem;
    color: #fff;
    background: purple;
}